* { box-sizing: border-box; }

:root {
 --red: #A93F55;
 --red-dark: #612430;
 --teal: #6E8B98;
 --gray: #E9E9E9
}
/* UNIVERSAL STYLING */
h1, h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    font-size: 4em;
    margin: 0;
}

h2 {
    margin: 0.5em 0;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
}

h4 {
    font-family: 'Courier New', Courier, monospace;
    margin: 2px;
}

/* HEADER STYLING */
hr {
    height: 3px;
    background-color: var(--red);
    border: none
}
.app-header>h1 {
  margin-top: 0;
  font-size: 4em;
  margin-bottom: 15px;
}

.app-header {
  display: flex;
  justify-content: space-between;
}

.header-disc {
  display: flex;
  align-self: flex-end;
  text-align: right;
  font-size: 0.8em;
}

/* PLAYLIST STYLING */
.playlist-container {
    display: flex;
    flex-direction: column;
}

article {
    margin: 0.5em 0;
}

.main-playlist-display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px;
}

.playlist-line-one, .playlist-line-two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.song-title {
    color: var(--teal);
}

.favorite-button {
    margin-left: 1.5em;
}

/* FAVORITE SONGS LIST STYLING */
.favorite-headers {
  display: flex;
}

.favorite-title {
  width: 250px;
  margin: 0 0 15px 0;
}

.song-headers {
  display: flex;
}


.favorite-song {
  list-style-type: none;
  width: 250px;
}

/* FORM STYLING */
form div {
    font-family: 'Courier New', Courier, monospace;
    color: var(--teal);
    font-weight: bold;
}

form input {
    margin: 3px 0;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--gray);
    height: 2.5em;
}

.add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red);
    color: white;
    font-weight: bold;
    border: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.add-button:active {
    color: var(--gray);
    background-color: var(--red-dark);
}